#1. Pengenalan Python

![Python](https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/1200px-Python_logo_and_wordmark.svg.png) [Python](https://www.python.org/) adalah bahasa pemrograman interpretatif multiguna. Tidak seperti bahasa lain yang susah untuk dibaca dan dipahami,
python lebih menekankan pada keterbacaan kode agar lebih mudah untuk memahami
sintaks. Hal ini membuat Python sangat mudah dipelajari baik untuk pemula maupun untuk yang sudah menguasai bahasa pemrograman lain.

Bahasa ini muncul pertama kali pada tahun 1991, dirancang oleh seorang bernama Guido van
Rossum. Sampai saat ini Python masih dikembangkan oleh Python Software Foundation. Bahasa
Python mendukung hampir semua sistem operasi, bahkan untuk sistem operasi Linux, hampir
semua distronya sudah menyertakan Python di dalamnya.

Dengan kode yang simpel dan mudah diimplementasikan, seorang programmer dapat lebih mengutamakan pengembangan aplikasi yang dibuat, bukan malah sibuk mencari syntax error.
```
print('Python sangat simpel')
```
Hanya dengan menuliskan kode print seperti yang diatas, anda sudah bisa mencetak apapun yang
anda inginkan di dalam tanda kurung (). Dibagian akhir kode pun, anda tidak harus
mengakhirnya dengan tanda semicolon ;

#2. Instalasi Python

##Linux

* Buka browser, kunjungi http://www.python.org/downloads/source/
* Download versi terbaru Python berbentuk file zip untuk Unix/Linux
* Ekstrak file zip yang baru saja di download
* Edit file Modules/Setup jika Anda ingin kostumisasi Python
* Jalankan ./configure script
* make
* make install
* Langkah ini akan menginstal Python di lokasi standar /usr/local/bin dan library di
/usr/local/lib/pythonXX dimana XX adalah versi terbaru Python yang anda gunakan.

## Windows
* Buka browser, kunjungi http://www.python.org/downloads/windows/
* ATAU, klik direct link https://www.python.org/ftp/python/3.4.3/python-3.4.3.msi
* Buka (klik 2x) file installer python yang baru saja di download
* Ikuti langkah instalasi sampai selesai

##Mac OS
* Buka browser, kunjungi http://www.python.org/download/mac/
* Download versi terbaru Python untuk Macintosh
* Buka file yang baru saja di download
* Ikuti langkah instalasi sampai selesai

#3. Menjalankan Python dengan IDE (Integrated Development Environment)

IDE adalah sebuah software aplikasi yang memberikan Anda fasilitas bermanfaat ketika membuat program. Biasanya sebuah IDE terdiri dari source code editor build automation tools dan debugger

Untuk menulis sebuah program, bisa menggunakan text editor atau IDE nya. Bagi yang sudah mahir, menulis program dengan text editor bukanlah menjadi masalah. Tetapi untuk pemula, akan lebih mudah menggunakan IDE

IDE untuk Python sangatlah banyak, tersedia bermacam-macam IDE dengan kelebihan
dan kekurangan masing-masing.

Beberapa IDE untuk Python yang cukup populer, yaitu :
* [Komodo](https://wiki.python.org/moin/Komodo)
* [PyCharm](http://www.jetbrains.com/pycharm/)
* [Spyder](https://www.spyder-ide.org/)
* [Visual Studio Code](https://code.visualstudio.com/)

[dan lain-lain](http://wiki.python.org/moin/IntegratedDevelopmentEnvironments)

#4. Hello World Python

##Syntax Dasar

Dibawah ini adalah contoh fungsi Python yang digunakan untuk mencetak. Di Python
untuk mencetak cukup gunakan fungsi `print()`, dimana sesuatu yang akan dicetak harus diletakkan diantara kurung buka dan kurung tutup. Jika ingin mencetak tipe data String langsung, Anda harus memasukanya ke dalam tanda kutip terlebih dahulu.

In [ ]:
print('Hello World')

Hello World

In [ ]:
print("Hello World")

Hello World

In [ ]:
print('Hello World")

SyntaxError: ignored

Kalimat yang ingin dicetak harus diawali dan diakhiri dengan tanda kutip, jika diawali dengan tanda kutip 1 maka harus diakhiri dengan tanda kutip 1, begitu pula untuk tanda kutip 2

##Case Sensitive

Python bersifat case sensitif, ini artinya huruf besar dan huruf kecil memiliki perbedaan. Sebagai contoh jika Anda menggunakan fungsi print dengan huruf kecil `print()` akan berhasil. Lain hal jika anda menggunakan huruf kapital `Print()` atau `PRINT()`, akan muncul pesan error.

Aturan ini berlaku untuk nama variabel ataupun fungsi-fungsi lainya.

In [ ]:
print('Hello World')

Hello World

In [ ]:
Print('Hello World')

NameError: ignored

In [ ]:
PRINT('Hello World')

NameError: ignored

##Komentar pada Python

Komentar (comment) adalah kode di dalam script Python yang tidak dieksekusi atau
tidak dijalankan mesin. Komentar hanya digunakan untuk menandai atau memberikan
keterangan tertulis pada script.

Komentar biasa digunakan untuk membiarkan orang lain memahami apa yang
dilakukan script. atau untuk mengingatkan kepada programmer sendiri jika suatu saat
kembali mengedit script tersebut.

Untuk menggunakan komentar anda cukup menulis tanda pagar #, diikuti dengan
komentar Anda.

In [ ]:
#Ini adalah komentar
# Tulisan ini tidak akan dieksekusi

#komentar dengan tanda pagar hanya bisa digunakan
#untuk
#satu
#baris

"""
Penulisan Komentar lebih dari satu baris yaitu
dengan menggunakan kutip dua 3 kali dan 
ditutup dengan kutip dua 3 kali juga
"""
print("Hello World") #ini juga komentar

#print("Welcome")

# komentar bisa berisi spesial karakter !@#$%^&*(),./;'[]\

#mencetak nama
print("Budi")

#mencetak angka/integer
print(123)

Hello World
Budi
123

Saat menjalankan script diatas, Anda akan melihat output berupa `Hello World`, `Budi` dan `123`, karena tulisan/komentar yang ditulis tidak dieksekusi.

##Tipe Data

Tipe data adalah suatu media atau memori pada komputer yang digunakan untuk menampung informasi.

Python sendiri mempunyai tipe data yang cukup unik bila kita bandingkan dengan bahasa pemrograman yang lain.

Berikut adalah tipe data dari bahasa pemrograman Python :

Tipe Data | Contoh | Penjelasan
--- | --- | ---
Boolean | **True** atau **False** | Menyatakan benar (True) yang bernilai 1, atau salah (False) yang bernilai 0
String | **"Ayo belajar Python"** | Menyatakan karakter/kalimat bisa berupa huruf, angka, dll (diapit tanda " atau ')
Integer | **25** atau **1209** | Menyatakan bilangan bulat
Float | **3.14** atau **0.99** | Menyatakan bilangan yang mempunyai koma
Hexadecimal | **9a** atau **1d3** | Menyatakan bilangan dalam format heksa (bilangan berbasis 16)
Complex | **1 + 5j** | Menyatakan pasangan angka real dan imajiner
List | **['xyz', 786, 2.23]** | Data untaian yang dapat menyimpan berbagai tipe data dan isinya dapat diubah-ubah
Tuple | **('xyz', 786, 2.23)** | Data untaian yang dapat menyimpan berbagai tipe data tapi isinya tidak bisa diubah
Dictionary | **{'nama' : 'adi' , 'id' : 2}** | Data untaian yang menyimpan berbagai tipe data berupa pasangan penunjuk dan nilai (key dan value)

In [ ]:
#tipe data Boolean
print(True)

#tipe data String
print("Ayo belajar Python")
print('Belajar Python Sangat Mudah')

#tipe data Integer
print(20)

#tipe data Float
print(3.14)

#tipe data Hexadecimal
print("Bentuk hexadecimal dari 23 adalah " + hex(23))

#tipe data Complex
print(5j)

#tipe data List
print([1,2,3,4,5])
print(["satu", "dua", "tiga"])

#tipe data Tuple
print((1,2,3,4,5))
print(("satu", "dua", "tiga"))

#tipe data Dictionary
print({"nama":"Budi", 'umur':20})

#tipe data Dictionary dimasukan ke dalam variabel biodata
biodata = {"nama":"Andi", 'umur':21} #proses inisialisasi variabel biodata
print(biodata) #proses pencetakan variabel biodata yang berisi tipe data Dictionary
print(type(biodata)) #fungsi untuk mengecek jenis tipe data. akan tampil <class 'dict'> yang berarti dict adalah tipe data dictionary

True
Ayo belajar Python
Belajar Python Sangat Mudah
20
3.14
Bentuk hexadecimal dari 23 adalah 0x17
5j
[1, 2, 3, 4, 5]
['satu', 'dua', 'tiga']
(1, 2, 3, 4, 5)
('satu', 'dua', 'tiga')
{'nama': 'Budi', 'umur': 20}
{'nama': 'Andi', 'umur': 21}
<class 'dict'>

In [ ]:
a = '20'
print(a)
print(type(a))

20
<class 'str'>

##Variabel Python

Variabel adalah lokasi memori yang dicadangkan untuk menyimpan nilai-nilai. Ini berarti bahwa ketika Anda membuat sebuah variabel Anda memesan beberapa ruang di memori. Variabel menyimpan data yang dilakukan selama program dieksekusi, yang nantinya isi dari variabel tersebut dapat diubah oleh operasi - operasi tertentu pada program yang menggunakan variabel.

Variabel dapat menyimpan berbagai macam tipe data. Di dalam pemrograman Python, variabel mempunyai sifat yang dinamis, artinya variabel Python tidak perlu didekralasikan tipe data tertentu dan variabel Python dapat diubah saat program dijalankan.

Penulisan variabel Python sendiri juga memiliki aturan tertentu, yaitu :

* Karakter pertama harus berupa huruf atau garis bawah/underscore _
* Karakter selanjutnya dapat berupa huruf, garis bawah/underscore _ atau angka
* Karakter pada nama variabel bersifat sensitif (case-sensitif). Artinya huruf kecil dan huruf besar dibedakan. Sebagai contoh, variabel namaDepan dan namadepan adalah variabel yang berbeda.

Untuk mulai membuat variabel di Python caranya sangat mudah, Anda cukup menuliskan variabel lalu mengisinya dengan suatu nilai dengan cara menambahkan tanda sama dengan = diikuti dengan nilai yang ingin dimasukan.

Dibawah ini adalah contoh penggunaan variabel dalam bahasa pemrograman Python

In [ ]:
#proses memasukan data ke dalam variabel
nama = "John Doe"
#proses mencetak variabel
print(nama)

#nilai dan tipe data dalam variabel  dapat diubah
umur = 20               #nilai awal
print(umur)             #mencetak nilai umur
type(umur)              #mengecek tipe data umur
umur = "dua puluh satu" #nilai setelah diubah
print(umur)             #mencetak nilai umur
type(umur)              #mengecek tipe data umur

namaDepan = "Budi"
namaBelakang = "Susanto"
nama = namaDepan + " " + namaBelakang
umur = 22
hobi = "Berenang"
print("Biodata\n", nama, "\n", umur, "\n", hobi)

#contoh variabel lainya
inivariabel = "Halo"
ini_juga_variabel = "Hai"
_inivariabeljuga = "Hi"
inivariabel222 = "Bye" 

panjang = 10
lebar = 5
luas = panjang * lebar
print(luas)

John Doe
20
dua puluh satu
Biodata
 Budi Susanto
 22
 Berenang
50

##Operator Python

Operator adalah konstruksi yang dapat memanipulasi nilai dari operan.

Sebagai contoh operasi `3 + 2 = 5`. Disini `3` dan `2` adalah operan dan `+` adalah operator.

Bahasa pemrograman Python mendukung berbagai macam operator, diantaranya :
* Operator Aritmatika (Arithmetic Operators)
* Operator Perbandingan (Comparison (Relational) Operators)
* Operator Penugasan (Assignment Operators)
* Operator Logika (Logical Operators)
* Operator Bitwise (Bitwise Operators)
* Operator Keanggotaan (Membership Operators)
* Operator Identitas (Identity Operators)

###Operator Aritmatika

Operator | Contoh | Penjelasan
--- | --- | ---
Penjumlahan `+` | `1 + 3 = 4` | Menjumlahkan nilai dari masing-masing operan atau bilangan
Pengurangan `-` | `4 - 1 = 3` | Mengurangi nilai operan di sebelah kiri menggunakan operan di sebelah kanan
Perkalian `*` | `2 * 4 = 8` | Mengalikan operan/bilangan
Pembagian `/` | `10 / 5 = 2` | Untuk membagi operan di sebelah kiri menggunakan operan di sebelah kanan
Sisa Bagi `%` | `11 % 2 = 1` | Mendapatkan sisa pembagian dari operan di sebelah kiri operator ketika dibagi oleh operan di sebelah kanan
Pangkat `**` | `8 ** 2 = 64` | Memangkatkan operan disebelah kiri operator dengan operan disebelah kanan operator
Pembagian Bulat `//` | `10 //3 = 3` | Sama seperti pembagian, hanya saja angka dibelakang koma dihilangkan

In [ ]:
#OPERATOR ARITMATIKA

#Penjumlahan
print(13 + 2)
apel = 7
jeruk = 9
buah = apel + jeruk #
print(buah)

#Pengurangan
hutang = 10000
bayar = 5000
sisaHutang = hutang - bayar
print("Sisa hutang Anda adalah ", sisaHutang)

#Perkalian
panjang = 15
lebar = 8
luas = panjang * lebar
print(luas)

#Pembagian
kue = 16
anak = 4
kuePerAnak = kue / anak
print("Setiap anak akan mendapatkan bagian kue sebanyak ", kuePerAnak)

#Sisa Bagi / Modulus
bilangan1 = 14
bilangan2 = 5
hasil = bilangan1 % bilangan2
print("Sisa bagi dari bilangan ", bilangan1, " dan ", bilangan2, " adalah ", hasil)

#Pangkat
bilangan3 = 8
bilangan4 = 2
hasilPangkat = bilangan3 ** bilangan4
print(hasilPangkat)

#Pembagian Bulat
print(10//3) 
#10 dibagi 3 adalah 3.3333. Karena dibulatkan maka akan menghasilkan nilai 3

15
16
Sisa hutang Anda adalah  5000
120
Setiap anak akan mendapatkan bagian kue sebanyak  4.0
Sisa bagi dari bilangan  14  dan  5  adalah  4
64
3

###Operator Perbandingan

Operator | Contoh | Penjelasan
--- | --- | ---
Sama dengan `==` | `1 == 1` | Bernilai True Jika masing-masing operan memiliki nilai yang sama, False jika nilai tidak sama
Tidak sama dengan `!=` | `2 != 2` | Bernilai True jika masing-masing operan memiliki nilai yang tidak sama, False jika nilai sama
Lebih besar dari `>` | `5 > 3` | Bernilai True Jika nilai operan kiri lebih besar dari nilai operan kanan, maka kondisi menjadi benar.
Lebih kecil dari `<` | `5 < 3` | Bernilai True Jika nilai operan kiri lebih kecil dari nilai operan kanan, maka kondisi menjadi benar.
Lebih besar atau sama dengan `>=` | `5 >= 3` | Bernilai True Jika nilai operan kiri lebih besar dari nilai operan kanan, atau sama, maka kondisi menjadi benar
Lebih kecil atau sama dengan `<=` | `5 <= 3` | Bernilai True Jika nilai operan kiri lebih kecil dari nilai operan kanan, atau sama, maka kondisi menjadi benar

In [ ]:
#Operator Perbandingan

#Sama dengan (==)
print('Operator sama dengan')
print('2 == 2 bernilai', 2==2)
print('3 == 2 bernilai', 3==2)
print()

#Tidak sama dengan (!=)
print('Operator tidak sama dengan')
print('2 != 2 bernilai', 2!=2)
print('3 != 2 bernilai', 3!=2)
print()

#Lebih besar dari (>)
print('Operator lebih besar dari')
print('5 > 3 bernilai', 5>3)
print('5 > 10 bernilai', 5>10)
print()

#Lebih kecil dari (<)
print('Operator lebih kecil dari')
print('5 < 3 bernilai', 5<3)
print('5 < 10 bernilai', 5<10)
print()

#Lebih besar dari (>=)
print('Operator lebih besar dari')
print('5 >= 10 bernilai', 5>=10)
print('5 >= 5 bernilai', 5>=5)
print('5 >= 3 bernilai', 5>=3)
print()

#Lebih kecil dari (<=)
print('Operator lebih kecil dari')
print('5 <= 3 bernilai', 5<=3)
print('5 <= 5 bernilai', 5<=5)
print('5 <= 10 bernilai', 5<=10)
print()

Operator sama dengan
2 == 2 bernilai True
3 == 2 bernilai False

Operator tidak sama dengan
2 != 2 bernilai False
3 != 2 bernilai True

Operator lebih besar dari
5 > 3 bernilai True
5 > 10 bernilai False

Operator lebih kecil dari
5 < 3 bernilai False
5 < 10 bernilai True

Operator lebih besar dari
5 >= 10 bernilai False
5 >= 5 bernilai True
5 >= 3 bernilai True

Operator lebih kecil dari
5 <= 3 bernilai False
5 <= 5 bernilai True
5 <= 10 bernilai True

###Operator Penugasan

Operator | Contoh | Penjelasan
--- | --- | ---
Sama dengan `=` | `a = 1` | Memberikan nilai di kanan ke dalam variabel yang berada disebelah kiri
Tambah sama dengan `+=` | `a += 2` | Memberikan nilai variabel dengan nilai variabel itu sendiri ditambah dengan nilai disebelah kanan
Kurang sama dengan `-=` | `a -= 2` | Memberikan nilai variabel dengan nilai variabel itu sendiri dikurangi dengan nilai disebelah kanan
Kali sama dengan `*=` | `a *= 2` | Memberikan nilai variabel dengan nilai variabel itu sendiri dikali dengan nilai disebelah kanan
Bagi sama dengan `/=` | `a /= 2` | Memberikan nilai variabel dengan nilai variabel itu sendiri dibagi dengan nilai disebelah kanan
Sisa bagi sama dengan `%=` | `a %= 2` | Memberikan nilai variabel dengan nilai variabel itu sendiri dibagi dengan nilai di sebelah kanan. Yang diambil nantinya adalah sisa baginya
Pangkat sama dengan `**=` | `a **= 2` | Memberikan nilai variabel dengan nilai variabel itu sendiri dipangkatkan dengan nilai di sebelah kanan
Pembagian bulat sama dengan `//=` | `a //= 2` | Membagi bulat operan sebelah kiri operator dengan operan sebelah kanan operator kemudian hasilnya diisikan ke operan sebelah kiri

In [ ]:
#Operator Penugasan

#Sama dengan (=)
print('Operator sama dengan')
a = 2
print(a)
b = 2.5
print(b)
print()

#Tambah sama dengan (+=)
print('Operator tambah sama dengan')
a = 2
print(a)
a += 2
print(a)
print()

#Kurang sama dengan (-=)
print('Operator kurang sama dengan')
a = 4
print(a)
a -= 2
print(a)
print()

#Kali sama dengan (*=)
print('Operator kali sama dengan')
a = 4
print(a)
a *= 2
print(a)
print()

#Bagi sama dengan (/=)
print('Operator bagi sama dengan')
a = 4
print(a)
a /= 2
print(a)
print()

#Sisa bagi sama dengan (%=)
print('Operator sisa bagi sama dengan')
a = 7
print(a)
a %= 2
print(a)
print()

#Pangkat sama dengan (**=)
print('Operator pangkat sama dengan')
a = 4
print(a)
a **= 2
print(a)
print()

#Pembagian bulat sama dengan (//=)
print('Operator sisa bagi sama dengan')
a = 10
print(a)
a //= 3
print(a)
print()

Operator sama dengan
2
2.5

Operator tambah sama dengan
2
4

Operator kurang sama dengan
4
2

Operator kali sama dengan
4
8

Operator bagi sama dengan
4
2.0

Operator sisa bagi sama dengan
7
1

Operator pangkat sama dengan
4
16

Operator sisa bagi sama dengan
10
3

###Operator Logical

Operator | Contoh | Penjelasan
--- | --- | ---
and | `a, b = True, True` | Jika kedua operan bernilai True, maka kondisi akan bernilai True. Selain kondisi tadi maka akan bernilai False
or | `a, b = True, False` | Jika salah satu atau kedua operan bernilai True maka kondisi akan bernilai True. Jika keduanya False maka kondisi akan bernilai False.
not | `a, b = True, False` | Membalikkan nilai kebeneran pada operan misal jika asalnya True akan menjadi False dan begitupun sebaliknya

In [ ]:
#Operator Logical

#and
print('5>3 dan 5>2 bernilai', 5>3 and 5>2)
print('5>3 dan 5>10 bernilai', 5>3 and 5>10)
print('5>10 dan 5>3 bernilai', 5>10 and 5>3)
print('5>10 dan 5>8 bernilai', 5>10 and 5>8)
print()

#or
print('5>3 atau 5>2 bernilai', 5>3 or 5>2)
print('5>3 atau 5>10 bernilai', 5>3 or 5>10)
print('5>10 atau 5>3 bernilai', 5>10 or 5>3)
print('5>10 atau 5>8 bernilai', 5>10 or 5>8)
print()

#not
print(not 5>3)
print(not 1>3)

5>3 dan 5>2 bernilai True
5>3 dan 5>10 bernilai False
5>10 dan 5>3 bernilai False
5>10 dan 5>8 bernilai False

5>3 atau 5>2 bernilai True
5>3 atau 5>10 bernilai True
5>10 atau 5>3 bernilai True
5>10 atau 5>8 bernilai False

False
True

###Operator Bitwise

Operator | Contoh | Penjelasan
--- | --- | ---
`&` | `c = a & b` | Operator biner AND, memeriksa apakah operan di sebelah kiri dan operan sebelah kanan mempunyai angka biner 1 di setiap bit. Jika keduanya bernilai 1 maka bit hasil operasi akan bernilai 1
`\|` | `c = a \| b` | Operator biner OR, memeriksa apakah operan di sebelah kiri dan operan sebelah kanan mempunyai angka biner 1 di setiap bit. Jika salah satunya bernilai 1 maka bit hasil operasi akan bernilai 1

In [ ]:
#Operator Bitwise

#&
a = 13 #dalam biner bernilai 0000 1101
b = 37 #dalam biner bernilai 0010 0101
c = a & b #akan bernilai     0000 0101
print(c)
print()

#|
a = 13 #dalam biner bernilai 0000 1101
b = 37 #dalam biner bernilai 0010 0101
c = a | b #akan bernilai     0010 1101
print(c)

5

45

###Operator Keanggotaan (Membership)

Operator | Contoh | Penjelasan
--- | --- | ---
`in` | `sebuah_list = [1, 2, 3,4 ,5]` | Memeriksa apakah nilai yang dicari berada pada list atau struktur data python lainnya. Jika nilai tersebut ada maka kondisi akan bernilai True
| `print(5 in sebuah_list)` |
`not in` | `sebuah_list = [1, 2, 3,4 ,5]` | Memeriksa apakah nilai yang dicari tidak ada pada list atau struktur data python lainnya. Jika nilai tersebut tidak ada maka kondisi akan bernilai True
| `print(10 not in sebuah_list)` |

In [ ]:
#Operator Keanggotaan

#in
sebuah_list = [1,2,3,4,5]
print('sebua_list =', sebuah_list)
print('5 in sebuah_list bernilai', 5 in sebuah_list)
print('10 in sebuah_list bernilai', 10 in sebuah_list)
print()

#not in
sebuah_list = [1,2,3,4,5]
print('sebua_list =', sebuah_list)
print('5 not in sebuah_list bernilai', 5 not in sebuah_list)
print('10 not in sebuah_list bernilai', 10 not in sebuah_list)

sebua_list = [1, 2, 3, 4, 5]
5 in sebuah_list bernilai True
10 in sebuah_list bernilai False

sebua_list = [1, 2, 3, 4, 5]
5 not in sebuah_list bernilai False
10 not in sebuah_list bernilai True

###Operator Identitas

Operator | Contoh | Penjelasan
--- | --- | ---
`is` | `a, b = 10, 10` | Memeriksa apakah nilai di sebelah kiri operan memiliki identitas memori yang sama dengan nilai di sebelah kanan operan. Jika sama maka kondisi bernilai True
| `print(a is b)` |
`is not` | `a, b = 10, 10` | Memeriksa apakah nilai di sebelah kiri operan memiliki identitas memori yang berbeda dengan nilai di sebelah kanan operan. Jika berbeda maka kondisi bernilai True
| `print(a is not b)` |

In [ ]:
#Operator Identitas

#is
a, b, c = 10, 10, 5
print('a =', a)
print('b =', b)
print('c =', c)
print('a is b bernilai', a is b)
print('a is c bernilai', a is c)
print()

#is not
a, b, c = 10, 10, 5
print('a =', a)
print('b =', b)
print('c =', c)
print('a is not b bernilai', a is not b)
print('a is not c bernilai', a is not c)

a = 10
b = 10
c = 5
a is b bernilai True
a is c bernilai False

a = 10
b = 10
c = 5
a is not b bernilai False
a is not c bernilai True

##Kondisi Python

Pada python ada beberapa statement/kondisi diantaranya adalah `if`, `else` dan `elif`

###Kondisi If

Pengambilan keputusan (kondisi if) digunakan untuk mengantisipasi kondisi yang terjadi saat jalanya program dan menentukan tindakan apa yang akan diambil sesuai dengan kondisi.

Kondisi `if` digunakan untuk mengeksekusi kode jika kondisi bernilai benar `True`.

Jika kondisi bernilai salah `False` maka statement/kondisi `if` tidak akan di-eksekusi.

In [ ]:
#Kondisi if adalah kondisi yang akan dieksekusi oleh program jika bernilai benar atau TRUE

nilai = 9

#jika kondisi benar/TRUE maka program akan mengeksekusi perintah dibawahnya
if(nilai > 7):
    print("Nilai Lebih Besar Dari Angka Tujuh") # Kondisi Benar, Dieksekusi

#jika kondisi salah/FALSE maka program tidak akan mengeksekusi perintah dibawahnya
if(nilai > 10):
    print("Nilai Lebih Besar Dari Angka Sepuluh") # Kondisi Salah, Maka tidak tereksekusi

Nilai Lebih Besar Dari Angka Tujuh

###Kondisi If Else

Pengambilan keputusan (kondisi if else) tidak hanya digunakan untuk menentukan tindakan apa yang akan diambil sesuai dengan kondisi, tetapi juga digunakan untuk menentukan tindakan apa yang akan diambil/dijalankan jika kondisi tidak sesuai.

Kondisi `if else` adalah kondisi dimana jika pernyataan benar `True` maka kode dalam `if` akan dieksekusi, tetapi jika bernilai salah `False` maka akan mengeksekusi kode di dalam `else`.

In [ ]:
#Kondisi if else adalah jika kondisi bernilai TRUE maka akan dieksekusi pada if, tetapi jika bernilai FALSE maka akan dieksekusi kode pada else

nilai = 7
#Jika pernyataan pada if bernilai TRUE maka if akan dieksekusi, tetapi jika FALSE kode pada else yang akan dieksekusi.
if(nilai > 7):
    print("Selamat Anda Lulus")
else:
    print("Maaf Anda Tidak Lulus")

Maaf Anda Tidak Lulus

###Kondisi Elif

Pengambilan keputusan (kondisi if elif) merupakan lanjutan/percabangan logika dari “kondisi if”. Dengan `elif` kita bisa membuat kode program yang akan menyeleksi beberapa kemungkinan yang bisa terjadi. Hampir sama dengan kondisi `else`, bedanya kondisi `elif` bisa banyak dan tidak hanya satu.

In [ ]:
nilai_angka = 72

if (nilai_angka >= 80):
  print('A')
elif (nilai_angka >= 75):
  print('B+')
elif (nilai_angka >= 70):
  print('B')
elif (nilai_angka >= 65):
  print('C+')
elif (nilai_angka >= 60):
  print('C')
else:
  print('D')

B

In [ ]:
hari_ini = "Selasa"

if(hari_ini == "Senin"):
    print("Saya akan kuliah")
elif(hari_ini == "Selasa"):
    print("Saya akan kuliah")
elif(hari_ini == "Rabu"):
    print("Saya akan kuliah")
elif(hari_ini == "Kamis"):
    print("Saya akan kuliah")
elif(hari_ini == "Jumat"):
    print("Saya akan kuliah")
elif(hari_ini == "Sabtu"):
    print("Saya akan kuliah")
elif(hari_ini == "Minggu"):
    print("Saya akan libur")
else:
  print('Yang dimasukkan bukan hari')

Saya akan kuliah

##Pengulangan (Loop)

Secara umum, pernyataan pada bahasa pemrograman akan dieksekusi secara berurutan. Pernyataan pertama dalam sebuah fungsi dijalankan pertama, diikuti oleh yang kedua, dan seterusnya. Tetapi akan ada situasi dimana Anda harus menulis banyak kode, dimana kode tersebut sangat banyak. Jika dilakukan secara manual maka Anda hanya akan membuang-buang tenaga dengan menulis beratus-ratus bahkan beribu-ribu kode. Untuk itu Anda perlu menggunakan pengulangan di dalam bahasa pemrograman Python.

Di dalam bahasa pemrograman Python pengulangan dibagi menjadi 3 bagian, yaitu :

* While Loop
* For Loop
* Nested Loop

###While Loop

Pengulangan While Loop di dalam bahasa pemrograman Python dieksesusi statement berkali-kali selama kondisi bernilai benar atau `True`

In [ ]:
#Contoh penggunaan While Loop
#Catatan: Penentuan ruang lingkup di Python bisa menggunakan tab alih-alih menggunakan tanda kurung

count = 0
while (count <= 9):
    print("The count is: ", count)
    count += 1

print ("Good bye!")

The count is:  0
The count is:  1
The count is:  2
The count is:  3
The count is:  4
The count is:  5
The count is:  6
The count is:  7
The count is:  8
The count is:  9
Good bye!

###For Loop

Pengulangan `for` pada Python memiliki kemampuan untuk mengulangi item dari urutan apapun, seperti `list` atau `string`

In [ ]:
#Contoh pengulangan for sederhana
angka = [1,2,3,4,5]
for x in angka:
    print(x)

#Contoh pengulangan for
buah = ["nanas", "apel", "jeruk"]
for y in buah:
    print("Saya suka makan", y)

1
2
3
4
5
Saya suka makan nanas
Saya suka makan apel
Saya suka makan jeruk

###Nested Loop

Bahasa pemrograman Python memungkinkan penggunaan satu lingkaran di dalam loop lain. Bagian berikut menunjukkan beberapa contoh untuk menggambarkan konsep tersebut.

In [ ]:
# outer loop
for i in range(1, 11):
    # nested loop
    # to iterate from 1 to 10
    for j in range(1, 11):
        # print multiplication
        print(i * j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

##Number Python

Number adalah tipe data Python yang menyimpan nilai numerik. Number adalah tipe data yang tidak berubah. Ini berarti, mengubah nilai dari sejumlah tipe data akan menghasilkan objek yang baru dialokasikan.

Objek Number dibuat saat Anda memberikan nilai pada-nya. Sebagai contoh : `angkaPertama = 1` `angkaKedua = 33`

Python mendukung beberapa tipe data Number diantaranya :

* Int
* Float
* Complex

Berikut ini adalah beberapa contoh dari Tipe data Number pada Python :

Int | Float | Complex
--- | --- | ---
20 | 0.1 | 3.14j
300 | 1.20 | 35j
-13 | -41.2 | 3.12e - 12j

###Konversi Tipe Data Number Python

Pada Python Anda bisa mengkonversi tipe data dengan menggunakan fungsi. Dibawah ini adalah beberapa fungsi untuk mengkonversi tipe data number Python.

* `int(x)` untuk meng-konversi x menjadi plain integer.
* `float(x)` untuk meng-konversi x menjadi floating point number.
* `complex(x)` untuk meng-konversi x menjadi complex number dengna real part x dan imaginary part zero.
* `complex(x, y)` untuk meng-konversi x dan y menjadi complex number dengan real part x dan imaginary part y. x dan numeric expressions y.

In [ ]:
a = '20'
print(a, 'tipe data a sebelumnya =',type(a)) 
print(int(a), 'tipe data a =', type(int(a)))
print(float(a), 'tipe data a =', type(float(a)))
print(complex(a), 'tipe data a =', type(complex(a)))

20 tipe data a sebelumnya = <class 'str'>
20 tipe data a = <class 'int'>
20.0 tipe data a = <class 'float'>
(20+0j) tipe data a = <class 'complex'>

###Fungsi pada Number Python

Nama | Penggunaan | Penjelasan
--- | --- | ---
Absolute | `abs(x)` | Nilai absolute dari x
Max | `max(x1,x2..) atau max(list)` | Mendapatkan nilai tertinggi
Min | `min(x1,x2..) atau min(list)` | Mendapatkan nilai terkecil

In [ ]:
a, b = 4, -8
print('Nilai absolute dari',a,'adalah =',abs(a))
print('Nilai absolute dari',b,'adalah =',abs(b))
print()

a, b, c = 5, 3, 9
print('a =',a, 'b =',b, 'c =',c)
print('Nilai Tertinggi dari ketiga variabel diatas adalah =',max(a,b,c))
print('Nilai Tekecil dari ketiga variabel diatas adalah =',min(a,b,c))
print()

contoh = [2, 6, 10]
print(contoh)
print('Nilai Tertinggi dari ketiga list diatas adalah =',max(contoh))
print('Nilai Tekecil dari ketiga list diatas adalah =',min(contoh))

Nilai absolute dari 4 adalah = 4
Nilai absolute dari -8 adalah = 8

a = 5 b = 3 c = 9
Nilai Tertinggi dari ketiga variabel diatas adalah = 9
Nilai Tekecil dari ketiga variabel diatas adalah = 3

[2, 6, 10]
Nilai Tertinggi dari ketiga list diatas adalah = 10
Nilai Tekecil dari ketiga list diatas adalah = 2

##String Python

String adalah jenis yang paling populer di bahasa pemrograman. Kita bisa membuatnya hanya dengan melampirkan karakter dalam tanda kutip. Python memperlakukan tanda kutip tunggal sama dengan tanda kutip ganda. Membuat string semudah memberi nilai pada sebuah variabel.

contoh : `print('Hello World')`

In [ ]:
print('Hello World')

Hello World

###Mengakses Nilai dalam String

Python tidak menggunakan tipe karakter titik koma ; Ini diperlakukan sebagai string dengan panjang satu, sehingga juga dianggap sebagai substring.

Untuk mengakses substring, gunakan tanda kurung siku untuk mengiris beserta indeks atau indeks untuk mendapatkan substring Anda.

In [ ]:
name = 'Bagus Satya'
message = "Bagus Satya belajar bahasa python di Belajarpython"
print ("name[0]: ", name[0])
print ("message[0:5]: ", message[0:5])

name[0]:  B
message[0:5]:  Bagus

In [ ]:
for i in range(len(name)):
  print(name[i], end=' ')

print()

for i in range(len(name)):
  print(i, end=' ')

B a g u s   S a t y a
0 1 2 3 4 5 6 7 8 9 10

###Mengupdate String

Anda dapat “memperbarui” string yang ada dengan (kembali) menugaskan variabel ke string lain. Nilai baru dapat dikaitkan dengan nilai sebelumnya atau ke string yang sama sekali berbeda sama sekali.

In [ ]:
message = 'Hello World'
message_baru = message + ' Python'
print('Sebelum Update =', message)
print('Sesudah Update =', message_baru)

Sebelum Update = Hello World
Sesudah Update = Hello World Python

In [ ]:
nama = 'Bagus Mas'
print('sebelum =', nama)
nama_lengkap = nama[:5] + ' Satya ' + nama[6:]
#untuk bentuk [:x] itu artinya dari urutan awal hingga x
#untuk bentuk [x:] itu artinya dari urutan ke-x hingga akhir
print('sesudah =', nama_lengkap)

sebelum = Bagus Mas
sesudah = Bagus Satya Mas

###Escape Character

Dibawah ini adalah tabel dari daftar karakter escape atau karakter non-printable yang dapat diwakili/ditulis dengan awalan notasi backslash `\`.

Notasi | Penjelasan
--- | ---
`\'` | Single Quote
`\"` | Double Quote
`\\` | Backslash
`\n` | New Line
`\r` | Carriage Return
`\t` | Tab
`\b` | Backspace

In [ ]:
#Contoh

#Single Quote
print('It\'s alright')
print()

#Double Quote
print("sama\"")
print()

#New Line
print("Hello\nWorld!")
print()

#Carriage Return
print("Hello\rWorld!")
print()

#Tab
print("Hello\tWorld!")
print()

#Backspace
print("Hellol\bWorld!")
print()

It's alright

sama"

Hello
World!

World!

Hello	World!

HellolWorld!

###Operator Spesial String Python

Asumsikan variabel string adalah ‘Belajar’ dan variabel b adalah ‘Python’, lalu dibawah ini adalah operator yang bisa dipakai pada kedua string di variabel tersebut. `a = "Belajar"` `b = "Python"`

Berikut adalah daftar operator spesial string pada Python :

Operator | Contoh | Penjelasan
--- | --- | ---
`+` | `a + b` | Menggabungkan dua variabel string a dan b
`*` | `a * 2` | Menghasilkan variabel string a sebanyak 2 kali
`[]` | `a[0]` | Menghasilkan huruf urutan ke 0 dari string di variabel a
`[:]` | `a[0:4]` | Menghasilkan range susunan huruf dari urutan ke-0 hingga ke-3
`in` | `b in a` | akan menghasilkan 1 Keanggotaan - Mengembalikan nilai true jika karakter ada dalam string yang diberikan
`not in` | `b not in a` | akan menghasilkan 1 Keanggotaan - Mengembalikan nilai true jika karakter tidak ada dalam string yang diberikan

In [ ]:
#Contoh

#+
a = 'Belajar'
b = 'Python'
print(a+b)
print()

#*
print(a*2)
print(a*3)
print()

#[]
print(a[0])
print(a[1])
print()

#[:]
print(a[0:3])
print(a[3:7])
print()

#in
print(a in b)
print()

#not in
print(a not in b)
print()

BelajarPython

BelajarBelajar
BelajarBelajarBelajar

B
e

Bel
ajar

False

True

###Triple Quote Python

Python triple quotes digunakan dengan membiarkan string untuk ditulis dalam beberapa baris, termasuk kata kerja NEWLINEs, TABs, dan karakter khusus lainnya. Sintaks untuk triple quotes terdiri dari tiga tanda kutip tunggal atau ganda ditulis berturut-turut : Berikut adalah contohnya :

In [ ]:
kutipantiga = """this is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also show up.
"""
print(kutipantiga)

this is a long string that is made up of
several lines and non-printable characters such as
TAB ( 	 ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [
 ], or just a NEWLINE within
the variable assignment will also show up.

###String Unicode Python

Pada Python 3, semua string diwakili dalam Unicode. Sedangkan pada Python 2 disimpan secara internal sebagai 8-bit ASCII, maka diperlukanlampiran ‘u’ untuk membuatnya menjadi Unicode. Tetapi hal ini tidak lagi diperlukan sekarang. :

Metode String Built-in

Python menyertakan metode built-in berikut untuk memanipulasi string

Metode | Penjelasan
--- | ---
`.capitalize()` | Meng-kapitalkan huruf pertama string
`.isalnum()` | True jika string semua karakternya alfanumerik dan False sebaliknya
`.isalpha()` | True jika string semua karakternya adalah abjad dan False sebaliknya
`.isdigit()` | True jika string hanya berisi digit dan False sebaliknya
`.islower()` | True jika string semua karakternya dalam huruf kecil dan False sebaliknya
`.isnumeric()` | True jika string unicode hanya berisi karakter numerik
`.isspace()` | True jika string hanya berisi karakter spasi
`.isdecimal()` | True jika string hanya berisi karakter desimal
`.istitle()` | True jika string benar "titlecased"
`.isupper()` | True jika string semua karakternya dalam huruf besar
`len(string)` | Menghasilkan panjang string
`.lower()` | Mengubah semua huruf besar dalam string menjadi huruf kecil
`.upper()` | Mengubah semua huruf kecil dalam string menjadi huruf besar
`.title()` | Menghasilkan versi "titlecased" pada string
`.swapcase()` | Kasus invers untuk semua huruf dalam string
`.rstrip()` | Menghapus semua spasi spasi string

In [ ]:
#capitalize
print('.capitalize()')
a = 'pendahuluan'
print(a, 'menjadi', a.capitalize())
print()

#isalnum
print('.isalnum()')
a = 'pendahuluan'
print(a, 'bernilai', a.isalnum())
a = 'bab 1'
print(a, 'bernilai', a.isalnum())
a = '123'
print(a, 'bernilai', a.isalnum())
print()

#isalpha
print('.isalpha()')
a = 'pendahuluan'
print(a, 'bernilai', a.isalpha())
a = 'bab 1'
print(a, 'bernilai', a.isalpha())
a = '123'
print(a, 'bernilai', a.isalpha())
print()

#islower
print('.islower()')
a = 'pendahuluan'
print(a, 'bernilai', a.islower())
a = 'Pendahuluan'
print(a, 'bernilai', a.islower())
a = 'PENDAHULUAN'
print(a, 'bernilai', a.islower())
print()

#isupper
print('.isupper()')
a = 'pendahuluan'
print(a, 'bernilai', a.isupper())
a = 'Pendahuluan'
print(a, 'bernilai', a.isupper())
a = 'PENDAHULUAN'
print(a, 'bernilai', a.isupper())
print()

#isnumeric
print('.isnumeric()')
a = 'pendahuluan'
print(a, 'bernilai', a.isnumeric())
a = 'bab 1'
print(a, 'bernilai', a.isnumeric())
a = '123'
print(a, 'bernilai', a.isnumeric())
print()

#isspace
print('.isspace()')
a = 'pendahuluan'
print(a, 'bernilai', a.isspace())
a = 'bab 1'
print(a, 'bernilai', a.isspace())
a = ' '
print(a, 'bernilai', a.isspace())
print()

#isdecimal
print('.isdecimal')
a = '12'
print(a, 'bernilai', a.isdecimal())
a = '3.14'
print(a, 'bernilai', a.isdecimal())
a = '12abab12'
print(a, 'bernilai', a.isdecimal())
print()

#istitle
print('.istitle()')
a = 'pendahuluan'
print(a, 'bernilai', a.istitle())
a = 'Pendahuluan'
print(a, 'bernilai', a.istitle())
a = 'PENDAHULUAN'
print(a, 'bernilai', a.istitle())
a = 'bab pendahuluan'
print(a, 'bernilai', a.istitle())
a = 'Bab pendahuluan'
print(a, 'bernilai', a.istitle())
a = 'Bab Pendahuluan'
print(a, 'bernilai', a.istitle())
a = 'BAB PENDAHULUAN'
print(a, 'bernilai', a.istitle())
print()

#len
print('len()')
a = 'pendahuluan'
print(a, 'panjangnya', len(a))
a = 'Soto'
print(a, 'panjangnya', len(a))
print()

#lower
print('.lower()')
a = 'Pendahuluan'
print(a, 'menjadi', a.lower())
a = 'PENDAHULUAN'
print(a, 'menjadi', a.lower())
print()

#upper
print('.upper')
a = 'Pendahuluan'
print(a, 'menjadi', a.upper())
a = 'pendahuluan'
print(a, 'menjadi', a.upper())
print()

#title
print('.title()')
a = 'pendahuluan'
print(a ,'menjadi', a.title())
a = 'PENDAHULUAN'
print(a ,'menjadi', a.title())
a = 'bab pendahuluan'
print(a ,'menjadi', a.title())
a = 'BAB PENDAHULUAN'
print(a ,'menjadi', a.title())
print()

#swapcase
print('.swapcase')
a = 'PENDAHULUAN'
print(a, 'menjadi', a.swapcase())
a = 'pendahuluan'
print(a, 'menjadi', a.swapcase())
a = 'PENDAhuluan'
print(a, 'menjadi', a.swapcase())
print()

#rstrip
print('.rstrip()')
a = '     Bakso    '
print(a, 'menjadi', a.rstrip() ,'ayam')

.capitalize()
pendahuluan menjadi Pendahuluan

.isalnum()
pendahuluan bernilai True
bab 1 bernilai False
123 bernilai True

.isalpha()
pendahuluan bernilai True
bab 1 bernilai False
123 bernilai False

.islower()
pendahuluan bernilai True
Pendahuluan bernilai False
PENDAHULUAN bernilai False

.isupper()
pendahuluan bernilai False
Pendahuluan bernilai False
PENDAHULUAN bernilai True

.isnumeric()
pendahuluan bernilai False
bab 1 bernilai False
123 bernilai True

.isspace()
pendahuluan bernilai False
bab 1 bernilai False
  bernilai True

.isdecimal
12 bernilai True
3.14 bernilai False
12abab12 bernilai False

.istitle()
pendahuluan bernilai False
Pendahuluan bernilai True
PENDAHULUAN bernilai False
bab pendahuluan bernilai False
Bab pendahuluan bernilai False
Bab Pendahuluan bernilai True
BAB PENDAHULUAN bernilai False

len()
pendahuluan panjangnya 11
Soto panjangnya 4

.lower()
Pendahuluan menjadi pendahuluan
PENDAHULUAN menjadi pendahuluan

.upper
Pendahuluan menjadi PENDAHULUAN
pendahuluan menjadi PENDAHULUAN

.title()
pendahuluan menjadi Pendahuluan
PENDAHULUAN menjadi Pendahuluan
bab pendahuluan menjadi Bab Pendahuluan
BAB PENDAHULUAN menjadi Bab Pendahuluan

.swapcase
PENDAHULUAN menjadi pendahuluan
pendahuluan menjadi PENDAHULUAN
PENDAhuluan menjadi pendaHULUAN

.rstrip()
     Bakso     menjadi      Bakso ayam

##List

Dalam bahasa pemrograman Python, struktur data yang paling dasar adalah urutan atau lists. Setiap elemen-elemen berurutan akan diberi nomor posisi atau indeksnya. Indeks pertama dalam list adalah nol, indeks kedua adalah satu dan seterusnya.

Python memiliki enam jenis urutan built-in, namun yang paling umum adalah list dan tuple. Ada beberapa hal yang dapat Anda lakukan dengan semua jenis list. Operasi ini meliputi pengindeksan, pengiris, penambahan, perbanyak, dan pengecekan keanggotaan. Selain itu, Python memiliki fungsi built-in untuk menemukan panjang list dan untuk menemukan elemen terbesar dan terkecilnya.

###Membuat List

List adalah tipe data yang paling serbaguna yang tersedia dalam bahasa Python, yang dapat ditulis sebagai daftar nilai yang dipisahkan koma (item) antara tanda kurung siku. Hal penting tentang daftar adalah item dalam list tidak boleh sama jenisnya.

Membuat list sangat sederhana, tinggal memasukkan berbagai nilai yang dipisahkan koma di antara tanda kurung siku. Dibawah ini adalah contoh sederhana pembuatan list dalam bahasa Python.

In [ ]:
#Contoh sederhana pembuatan list pada bahasa pemrograman python
list1 = ['kimia','fisika',1997,2012]
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]

In [ ]:
list1

['kimia', 'fisika', 1997, 2012]

###Akses Nilai Dalam List

Untuk mengakses nilai dalam list python, gunakan tanda kurung siku untuk mengiris beserta indeks atau indeks untuk mendapatkan nilai yang tersedia pada indeks tersebut.

In [ ]:
#Cara mengakses nilai di dalam list Python

list1 = ['fisika', 'kimia', 1993, 2017]
list2 = [1, 2, 3, 4, 5, 6, 7 ]

print("list1[0]: ", list1[0])
print("list2[1:5]: ", list2[1:5])

list1[0]:  fisika
list2[1:5]:  [2, 3, 4, 5]

###Update Nilai Dalam List Python

Anda dapat memperbarui satu atau beberapa nilai di dalam list dengan memberikan potongan di sisi kiri operator penugasan, dan Anda dapat menambahkan nilai ke dalam list dengan metode `append()`

In [ ]:
list1 = ['fisika', 'kimia', 1993, 2017]
print("Sebelum =",list1)
print("Nilai ada pada index 2 : ", list1[2])

list1[2] = 2001
print("Sesudah =",list1)
print("Nilai baru ada pada index 2 : ", list1[2])

list1 = ['fisika', 'kimia', 1993, 2017]
print("Sebelum =",list1)
list1.append(2021)
print("Sesudah =",list1)

Sebelum = ['fisika', 'kimia', 1993, 2017]
Nilai ada pada index 2 :  1993
Sesudah = ['fisika', 'kimia', 2001, 2017]
Nilai baru ada pada index 2 :  2001
Sebelum = ['fisika', 'kimia', 1993, 2017]
Sesudah = ['fisika', 'kimia', 1993, 2017, 2021]

###Hapus Nilai Dalam List Python

Untuk menghapus nilai di dalam list python, Anda dapat menggunakan salah satu pernyataan `del` jika Anda tahu persis elemen yang Anda hapus. Anda dapat menggunakan metode `remove()` jika Anda tidak tahu persis item mana yang akan dihapus.

In [ ]:
#Contoh cara menghapus nilai pada list python

list1 = ['fisika', 'kimia', 1993, 2017]

print(list1)
del list1[2]
print("Setelah dihapus nilai pada index 2 dengan del: ", list1)

list1 = ['fisika', 'kimia', 1993, 2017]

print(list1)
list1.remove('fisika')
print("Setelah dihapus nilai fisika dengan remove : ", list1)

['fisika', 'kimia', 1993, 2017]
Setelah dihapus nilai pada index 2 dengan del:  ['fisika', 'kimia', 2017]
['fisika', 'kimia', 1993, 2017]
Setelah dihapus nilai fisika dengan remove :  ['kimia', 1993, 2017]

###Operasi Dasar Pada List Python

List Python merespons operator + dan * seperti string; Itu artinya penggabungan dan pengulangan di sini juga berlaku, kecuali hasilnya adalah list baru, bukan sebuah String.

Python Expression | Hasil | Penjelasan
--- | --- | ---
`len([1,2,3,4])` | `4` | Length
`[1, 2, 3] + [4, 5, 6]` | `[1, 2, 3, 4, 5, 6]` | Concatenation
`['Halo!'] * 4` | `['Halo!', 'Halo!', 'Halo!', 'Halo!']` | Repetition
`2 in [1, 2, 3]` | `True` | Membership
`for x in [1,2,3] : print (x,end = ' ')` | `1 2 3` | Iteration

In [ ]:
#contoh

list1 = [1,2,3,4,5,6]
print('Panjang dari',list1,'adalah',len(list1))

list1 = [1,2]
list2 = [3,4]
print(list1,'+',list2,'=',list1+list2)

print(list1*3)

print(1 in list1)

for x in list1:
  print(x)

Panjang dari [1, 2, 3, 4, 5, 6] adalah 6
[1, 2] + [3, 4] = [1, 2, 3, 4]
[1, 2, 1, 2, 1, 2]
True
1
2

###Indexing, Slicing dan Matrix Pada List Python

Karena list adalah urutan, pengindeksan dan pengiris bekerja dengan cara yang sama untuk list seperti yang mereka lakukan untuk String.

Python Expression | Hasil
--- | ---
`[0]` | Menampilkan data urutan paling pertama dalam List
`[-1]` | Menampilkan data paling terakhir dalam List
`[-2]` | Menampilkan data urutan 2 terakhir dalam List
`[1:4]` | Menampilkan data dalam urutan

In [ ]:
#contoh

L = ['Matlab','Python','R','SQL']

print(L[0])
print(L[-1])
print(L[1:4])

Matlab
SQL
['Python', 'R', 'SQL']

###Fungsi Built-in Pada List Python

Function | Penjelasan
--- | ---
`len(list)` | Memberikan total panjang list
`max(list)` | Menampilkan nilai atau item terbesar dari list
`min(list)` | Menampilkan nilai atau item terkecil dari list
`list(seq)` | Mengubah tuple seq menjadi list

In [ ]:
list1 = [1,2,3,4,5,6]
tuple1 = (1,2,3)
list_tuple = list(tuple1)
print('Panjang dari',list1,'adalah',len(list1))
print('Nilai Max',list1,'adalah',max(list1))
print('Nilai Min',list1,'adalah',min(list1))
print('Sebelum konversi =',type(tuple1))
print('Sesudah konversi =',type(list_tuple))

Panjang dari [1, 2, 3, 4, 5, 6] adalah 6
Nilai Max [1, 2, 3, 4, 5, 6] adalah 6
Nilai Min [1, 2, 3, 4, 5, 6] adalah 1
Sebelum konversi = <class 'tuple'>
Sesudah konversi = <class 'list'>

###Methods Built-in Pada List Python

Methods | Penjelasan
--- | ---
`list.append(obj)` | Menambahkan `obj` ke list
`list.count(obj)` | Menghitung berapa kali obj terdapat dalam list
`list.extend(seq)` | Menambahkan isi seq ke list
`list.index(obj)` | Mengembalikkan indeks/urutan terendah dalam list yang muncul obj
`list.insert(index,obj)` | Sisipkan obj ke dalam list di urutan index
`list.pop(list[2])` | Menghapus data urutan ke 2 dari list
`list.remove(obj)` | Menghapus obj dari list
`list.reverse()` | Membalik list ditempat
`list.sort()` | Urutkan object list, gunakan reverse=True untuk descending

In [ ]:
#contoh

list1 = [1,2,3,4]
print('awal =', list1)

#append
list1.append(4)
print('setelah append(4) =',list1)

#count
print('total nilai 4 dalam list =',list1.count(4))

#extend
nomor = [2,4,6]
print(list1,'akan diextend dengan',nomor)
list1.extend(nomor)
print('menjadi',list1)

#index
print('indeks data dengan nilai 2 dari',list1,'=',list1.index(2))

#insert
list1.insert(2,2)
print('list1 ketika ditambahkan nilai 2 pada indeks 2 =',list1)

#pop
list1.pop(list1[2])
print('list1 ketika ditambahkan nilai pada indeks 2 di pop =',list1)

#remove
list1.remove(4)
print('list1 ketika nilai pada indeks 4 di remove =',list1)

#reverse
print('list1 awal =',list1)
list1.reverse()
print('list1 reverse =',list1)

#sort
list1.sort() #Default
print('list1 ascending =',list1)
list1.sort(reverse=True) 
print('list1 descending =',list1)

awal = [1, 2, 3, 4]
setelah append(4) = [1, 2, 3, 4, 4]
total nilai 4 dalam list = 2
[1, 2, 3, 4, 4] akan diextend dengan [2, 4, 6]
menjadi [1, 2, 3, 4, 4, 2, 4, 6]
indeks data dengan nilai 2 dari [1, 2, 3, 4, 4, 2, 4, 6] = 1
list1 ketika ditambahkan nilai 2 pada indeks 2 = [1, 2, 2, 3, 4, 4, 2, 4, 6]
list1 ketika ditambahkan nilai pada indeks 2 di pop = [1, 2, 3, 4, 4, 2, 4, 6]
list1 ketika nilai pada indeks 4 di remove = [1, 2, 3, 4, 2, 4, 6]
list1 awal = [1, 2, 3, 4, 2, 4, 6]
list1 reverse = [6, 4, 2, 4, 3, 2, 1]
list1 ascending = [1, 2, 2, 3, 4, 4, 6]
list1 descending = [6, 4, 4, 3, 2, 2, 1]

##Tuple

Sebuah tupel adalah urutan objek Python yang tidak berubah. Tupel adalah urutan, seperti daftar. Perbedaan utama antara tupel dan daftarnya adalah bahwa tupel tidak dapat diubah tidak seperti List Python. Tupel menggunakan tanda kurung, sedangkan List Python menggunakan tanda kurung siku.

Membuat tuple semudah memasukkan nilai-nilai yang dipisahkan koma. Secara opsional, Anda dapat memasukkan nilai-nilai yang dipisahkan koma ini di antara tanda kurung juga.

In [ ]:
#Contoh sederhana pembuatan tuple pada bahasa pemrograman python

tup1 = ('fisika', 'kimia', 1993, 2017)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"

Tupel kosong ditulis sebagai dua tanda kurung yang tidak berisi apa-apa, contohnya : `tup1 = ()` Untuk menulis tupel yang berisi satu nilai, Anda harus memasukkan koma, meskipun hanya ada satu nilai, contohnya : `tup1 = (50,)` Seperti indeks `String`, indeks `tuple` mulai dari 0, dan mereka dapat diiris, digabungkan, dan seterusnya

###Akses Nilai Dalam Tuple

Untuk mengakses nilai dalam tupel, gunakan tanda kurung siku untuk mengiris beserta indeks atau indeks untuk mendapatkan nilai yang tersedia pada indeks tersebut

In [ ]:
#Cara mengakses nilai tuple

tup1 = ('fisika', 'kimia', 1993, 2017)
tup2 = (1, 2, 3, 4, 5, 6, 7 )

print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  fisika
tup2[1:5]:  (2, 3, 4, 5)

###Operasi Dasar Pada Tuple Python

Tupel merespons operator + dan * sama seperti String; Mereka berarti penggabungan dan pengulangan di sini juga berlaku, kecuali hasilnya adalah tupel baru, bukan string.

Python Expression | Hasil | Penjelasan
--- | --- | ---
`len((1,2,3,4))` | `4` | Length
`(1, 2, 3) + (4, 5, 6)` | `(1, 2, 3, 4, 5, 6)` | Concatenation
`('Halo!') * 4` | `('Halo!', 'Halo!', 'Halo!', 'Halo!')` | Repetition
`2 in (1, 2, 3)` | `True` | Membership
`for x in (1,2,3) : print (x,end = ' ')` | `1 2 3` | Iteration

In [ ]:
#contoh

tuple1 = (1,2,3,4,5,6)
print('Panjang dari',tuple1,'adalah',len(tuple1))

tuple1 = (1,2)
tuple2 = (3,4)
print(tuple1,'+',tuple2,'=',tuple1+tuple2)

print(tuple1*3)

print(1 in tuple1)

for x in tuple1:
  print(x)

Panjang dari (1, 2, 3, 4, 5, 6) adalah 6
(1, 2) + (3, 4) = (1, 2, 3, 4)
(1, 2, 1, 2, 1, 2)
True
1
2

###Indexing, Slicing dan Matrix Pada Tuple Python

Karena tupel adalah urutan, pengindeksan dan pengiris bekerja dengan cara yang sama untuk tupel seperti pada String.

Python Expression | Hasil
--- | ---
`[0]` | Menampilkan data urutan paling pertama dalam Tuple
`[-1]` | Menampilkan data paling terakhir dalam Tuple
`[-2]` | Menampilkan data urutan 2 terakhir dalam Tuple
`[1:4]` | Menampilkan data dalam urutan

In [ ]:
#contoh

L = ('Matlab','Python','R','SQL')

print(L[0])
print(L[-1])
print(L[1:4])

###Fungsi Built-in Pada Tuple Python

Function | Penjelasan
--- | ---
`len(tuple)` | Memberikan total panjang Tuple
`max(tuple)` | Menampilkan nilai atau item terbesar dari Tuple
`min(tuple)` | Menampilkan nilai atau item terkecil dari Tuple
`tuple(seq)` | Mengubah seq menjadi tuple

In [ ]:
tuple1 = (1,2,3,4,5,6)
list1 = [1,2,3]
tuple_list = tuple(list1)
print('Panjang dari',tuple1,'adalah',len(tuple1))
print('Nilai Max',tuple1,'adalah',max(tuple1))
print('Nilai Min',tuple1,'adalah',min(tuple1))
print('Sebelum konversi =',type(list1))
print('Sesudah konversi =',type(tuple_list))

##Dictionary

Dictionary Python berbeda dengan List ataupun Tuple. Karena setiap urutanya berisi key dan value. Setiap key dipisahkan dari value-nya oleh titik dua (:), item dipisahkan oleh koma, dan semuanya tertutup dalam kurung kurawal. Dictionary kosong tanpa barang ditulis hanya dengan dua kurung kurawal, seperti ini: {}.

Nilai kamus bisa berupa tipe apa pun, namun key harus berupa tipe data yang tidak berubah seperti string, angka, atau tupel.

###Akses Nilai Dalam Dictionary Python

Untuk mengakses elemen Dictionary, Anda dapat menggunakan tanda kurung siku yang sudah dikenal bersama dengan key untuk mendapatkan nilainya.

In [ ]:
#Contoh cara membuat Dictionary pada Python

dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict['Name']:  Zara
dict['Age']:  7

###Update Nilai Dalam Dictionary

Anda dapat memperbarui Dictionary dengan menambahkan entri baru atau pasangan nilai kunci, memodifikasi entri yang ada, atau menghapus entri yang ada seperti ditunjukkan pada contoh sederhana yang diberikan di bawah ini.

In [ ]:
#Update dictionary python

dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # Mengubah entri yang sudah ada
dict['School'] = "DPS School" # Menambah entri baru

print("dict['Age']: ", dict['Age'])
print("dict['School']: ", dict['School'])

dict['Age']:  8
dict['School']:  DPS School

###Hapus Elemen Dictionary Python

Anda dapat menghapus elemen Dictionary individual atau menghapus keseluruhan isi Dictionary. Anda juga dapat menghapus seluruh Dictionary dalam satu operasi.

Untuk menghapus seluruh Dictionary secara eksplisit, cukup gunakan del statement. Berikut adalah contoh sederhana :

In [ ]:
#Contoh cara menghapus pada Dictionary Python

dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict['Age']: ", dict['Age'])

del dict['Name'] # hapus entri dengan key 'Name'
dict.clear()     # hapus semua entri di dict
del dict         # hapus dictionary yang sudah ada

print("dict['School']: ", dict['School'])

dict['Age']:  7

TypeError: ignored

##Function

Fungsi adalah blok kode terorganisir dan dapat digunakan kembali yang digunakan untuk melakukan sebuah tindakan/action. Fungsi memberikan modularitas yang lebih baik untuk aplikasi Anda dan tingkat penggunaan kode yang tinggi.

###Mendefinisikan Fungsi Python

Anda dapat menentukan fungsi untuk menyediakan fungsionalitas yang dibutuhkan. Berikut adalah aturan sederhana untuk mendefinisikan fungsi dengan Python.

* Fungsi blok dimulai dengan def kata kunci diikuti oleh nama fungsi dan tanda kurung (()).
* Setiap parameter masukan atau argumen harus ditempatkan di dalam tanda kurung ini. Anda juga dapat menentukan parameter di dalam tanda kurung ini.
* Pernyataan pertama dari sebuah fungsi dapat berupa pernyataan opsional - string dokumentasi fungsi atau docstring.
* Blok kode dalam setiap fungsi dimulai dengan titik dua (:) dan indentasi.
* Pernyataan kembali [ekspresi] keluar dari sebuah fungsi, secara opsional menyampaikan kembali ekspresi ke pemanggil. Pernyataan pengembalian tanpa argumen sama dengan return None.

In [ ]:
def tambah(a, b):
  c = a+b
  return c

In [ ]:
tambah(5,10)

15

In [ ]:
def segitiga(a,t):
  luas = (a*t)/2
  return luas

In [ ]:
segitiga(5,6)

15.0

In [ ]:
def lingkaran(r):
  phi = 3.14
  luas = phi * r**2
  return luas

In [ ]:
lingkaran(10)

314.0

In [ ]:
alas = [2,4,6,9,10]
tinggi = [8,10,10,15,20]

for x, y in zip(alas,tinggi):
  luas = segitiga(x,y)
  print(luas)

8.0
20.0
30.0
67.5
100.0

In [ ]:
segitiga(1,5)

2.5

##Modul Python

In [ ]:
import pandas

In [ ]:
df = pandas.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
df

   col1  col2
0     1     3
1     2     4

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
df

   col1  col2
0     1     3
1     2     4

##Membaca Input Pada Python

`input()` berfungsi membaca data dari keyboard sebagai string, terlepas dari apakah itu tertutup dengan tanda kutip (‘’ atau ‘”) atau tidak.

In [ ]:
x = input("tes:")
print(x)
print(type(x))

tes:7
7
<class 'str'>

In [ ]:
#input sebagai int
x = int(input("masukkan nilai integer:"))
print(x)
print(type(x))
print()

#input sebagai float
x = float(input("masukkan nilai float:"))
print(x)
print(type(x))
print()

#input list
tempat_list = []
n = int(input("Masukkan banyaknya nilai dalam list:"))
# iterating till the range
for i in range(0, n):
    ele = int(input())
 
    tempat_list.append(ele) # adding the element
print(tempat_list)

masukkan nilai integer:10
10
<class 'int'>

masukkan nilai float:5.1
5.1
<class 'float'>

Masukkan banyaknya nilai dalam list:4
1
2
3
4
[1, 2, 3, 4]