In [1]:
#loading the dataset
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("Mall_clustered.csv")

In [3]:
print(data.keys())
#keys of data set

Index(['Unnamed: 0', 'Age', 'Annual Income (k$)', 'Spending Score (1-100)',
       'Label'],
      dtype='object')

In [4]:
# menghapus kolom
data = data.drop(columns=['Unnamed: 0'])
data

     Age  Annual Income (k$)  Spending Score (1-100)  Label
0     19                  15                      39      2
1     21                  15                      81      3
2     20                  16                       6      2
3     23                  16                      77      3
4     31                  17                      40      2
..   ...                 ...                     ...    ...
195   35                 120                      79      0
196   45                 126                      28      4
197   32                 126                      74      0
198   32                 137                      18      4
199   30                 137                      83      0

[200 rows x 4 columns]

In [5]:
# pisahkan atribut dan label
predictions = ['Age', 'Annual Income (k$)' , 'Spending Score (1-100)']

X = data[predictions]
y = data['Label']

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
#we have assigned random_state as 0 so that each time when we run this ,we get the same output

In [7]:
X_train.shape

(150, 3)

In [8]:
X_test.shape

(50, 3)

In [9]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

In [10]:
gnb.fit(X_train,y_train)

GaussianNB()

In [11]:
age=eval(input("Enter Age- "))
annual_income=eval(input("Enter Annual Income (k$)- "))
spending_score=eval(input("Spending Score (1-100)- "))
X_new = np.array([[age,annual_income,spending_score]])

Enter Age- 10
Enter Annual Income (k$)- 179
Spending Score (1-100)- 26

In [12]:
#calling predict method from knn for making prediction
prediction = gnb.predict(X_new)
print("Predicted target name",[prediction])

Predicted target name [array([4], dtype=int64)]

In [13]:
y_pred = gnb.predict(X_test)
print("Test set prediction:\n {}".format(y_pred))

Test set prediction:
 [2 4 1 1 0 4 3 4 2 4 5 0 4 4 1 3 3 4 3 1 0 0 3 0 1 0 0 0 5 2 2 1 4 5 2 0 0
 2 1 1 4 1 2 5 4 1 2 5 1 0]

In [14]:
#accuracy
print('Test score is: {:.2f}'.format(gnb.score(X_test,y_test)))

Test score is: 1.00