In [1]:
#loading the dataset
import numpy as np
import pandas as pd

data = pd.read_csv("Mall_clustered.csv")

In [2]:
# menghapus kolom
data = data.drop(columns=['Unnamed: 0'])
data

     Age  Annual Income (k$)  Spending Score (1-100)  Label
0     19                  15                      39      2
1     21                  15                      81      3
2     20                  16                       6      2
3     23                  16                      77      3
4     31                  17                      40      2
..   ...                 ...                     ...    ...
195   35                 120                      79      0
196   45                 126                      28      4
197   32                 126                      74      0
198   32                 137                      18      4
199   30                 137                      83      0

[200 rows x 4 columns]

In [3]:
# pisahkan atribut dan label
predictions = ['Age', 'Annual Income (k$)' , 'Spending Score (1-100)']

X = data[predictions]
y = data['Label']

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
#we have assigned random_state as 0 so that each time when we run this ,we get the same output

In [5]:
import pickle

# load the model from disk
loaded_model = pickle.load(open('finalized_model_NB.sav', 'rb'))
 
# Use the loaded pickled model to make predictions
loaded_model.predict(X_test)
result = loaded_model.score(X_test, y_test)
print(result)

1.0

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator GaussianNB from version 0.23.2 when using version 0.22.2.post1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [6]:
age=eval(input("Enter Age- "))
annual_income=eval(input("Enter Annual Income (k$)- "))
spending_score=eval(input("Spending Score (1-100)- "))
X_new = np.array([[age,annual_income,spending_score]])

Enter Age- 10
Enter Annual Income (k$)- 179
Spending Score (1-100)- 26

In [8]:
#calling predict method from knn for making prediction
prediction = loaded_model.predict(X_new)
print("Predicted target name",[prediction])

Predicted target name [array([4])]