Machine learning algoritma naive bayes  
Oleh : edy kurniawan

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#memasukan data latih
data = pd.read_excel('data testing.xlsx')
data.head()

,Jurusan,Matematika,Bahasa Inggris,Bahasa Indonesia,Prestasi Siswa,Prestasi Sekolah
0,Matematika,92,86,88,1,1
1,Matematika,90,86,85,1,2
2,Sastra Inggris,82,87,92,2,1
3,Matematika,93,82,85,1,1
4,Sastra Inggris,86,85,88,1,1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Jurusan           11 non-null     object
 1   Matematika        11 non-null     int64
 2   Bahasa Inggris    11 non-null     int64
 3   Bahasa Indonesia  11 non-null     int64
 4   Prestasi Siswa    11 non-null     int64
 5   Prestasi Sekolah  11 non-null     int64
dtypes: int64(5), object(1)
memory usage: 656.0+ bytes

In [6]:
print(data.keys())

Index(['Jurusan', 'Matematika', 'Bahasa Inggris', 'Bahasa Indonesia',
       'Prestasi Siswa', 'Prestasi Sekolah'],
      dtype='object')

In [8]:
# pisahkan atribut dan label
predictions = ['Matematika', 'Bahasa Inggris', 'Bahasa Indonesia', 'Prestasi Siswa', 'Prestasi Sekolah']

X = data[predictions]
y = data['Jurusan']

In [74]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
#we have assigned random_state as 0 so that each time when we run this ,we get the same output

In [75]:
X_train.shape

(17290, 6)

In [76]:
X_test.shape

(4323, 6)

In [9]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [10]:
model.fit(X,y)

GaussianNB()

In [17]:
Matematika=eval(input("Matematika- "))
BIng=eval(input("Bahasa Inggris- "))
BInd=eval(input("Bahasa Indonesia- "))
PSiswa=eval(input("Prestasi Siswa- "))
PSekolah=eval(input("Prestasi Sekolah- "))
X_new = np.array([[Matematika,BIng,BInd,PSiswa,PSekolah]])

Matematika- 92
Bahasa Inggris- 86
Bahasa Indonesia- 88
Prestasi Siswa- 1
Prestasi Sekolah- 1

In [18]:
#calling predict method from knn for making prediction
prediction = model.predict(X_new)
print("Predicted target name",[prediction])

Predicted target name [array(['Matematika'], dtype='<U16')]

In [20]:
y_pred = model.predict(X)
print("Test set prediction:\n {}".format(y_pred))

Test set prediction:
 ['Matematika' 'Matematika' 'Sastra Inggris' 'Matematika'
 'Sastra Indonesia' 'Matematika' 'Sastra Indonesia' 'Sastra Indonesia'
 'Sastra Inggris' 'Sastra Inggris' 'Sastra Inggris']

In [21]:
#accuracy
from sklearn.preprocessing import StandardScaler
model.score(X,y)

0.9090909090909091